body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  #tarea-form {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
  }
  
  #lista-tareas li {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  